= collection_radio_buttons :auction, :image_id, @product.images.order(:source), :id, :thumb_url, {checked: @auction && @auction.image_id}, class: 'selectpicker' do |image|
  = image.label do
    =' image.radio_button
    = image_tag(image.text)